<div class="container">
                            

  <h2 class="display-4" align="center" style="padding-top: 10Ppx; color:black;  padding-bottom: 10px;">Participants for
    <%= @rsvp_events.first.event.name %>
  </h2>

  <div style="font-size:150%" class="row">

    <% @rsvp_events.each do |rsvp| %>

    <ul>
      <li>
        <%= rsvp.user.full_name %>
      </li>
      <li> email :
        <%= rsvp.user.email %>
      </li>
    </ul>

    <% end %>

  </div>


  <form method="POST" action="/user_rsvp_events/<%= @rsvp_events.first.event_id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" class="btn btn-danger btn-small" value="Cancel Rsvp Event">
  </form>
</div>